doctype html
html
  head
    style(type='text/css').
           body {
                text-align: center !important;
                margin: 14rem !important;
            }
    title= title
  body
    block content
